@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style active navigation title */
.activePathname {
  font-size: 18px;
  font-weight: bolder;
  color: white;
  opacity: 0.7;
}

/* header animation */
.open-header {
  animation: open-header 2s 1 linear;
}

@keyframes open-header {
  0% {
    height: 100px;
  }

  100% {
    height: 100vh;
  }
}
